<!doctype html>
<html ng-app="transcriber" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Transcribe</title>
        <meta name="description" content="description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href="css/main.css" rel="stylesheet">
        <script src="js/angular.min.js"></script>
        <script src="js/main.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
                <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
<body ng-controller="MainCtrl">
<!--Start Header-->
<header class="navbar">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-2">
                <a href="index.html">TranScribe</a>
            </div>
            <div id="top-panel" class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-xs-8 col-sm-4">
                        <div id="search">
                            <input type="text" placeholder="search"/>
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
    <div class="row">
        <div id="sidebar-left" class="col-xs-12 col-sm-2">
            <ul class="nav folder-list">
                <li ng-repeat="folder in folders">
                    <a href='#'>
                        <!-- <x-folder-item title=folder.title /> -->
                        <div class="folder-item" ng-click=fetchNotes(folder)>{{folder.title}}</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-3">
            <!-- <div class="row folder-name">All Notes</div> -->
            <ul class="nav notes-list">
                <li ng-repeat="note in notes" ng-click=displayNote(note)>
                    <a href='#'>
                        <x-note-item title=note.title preview=note.preview />
                    </a>
                </li>
            </ul>
        </div>

        <!--Start Content-->
        <div id="content" class="col-xs-12 col-sm-7">
            <x-note-display ng-show=mainNote />
        </div>
        <!--End Content-->
    </div>
</div>
</body>
</html>

