<!doctype html>
<html>
<head>
	<title>TranScribe</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
</head>
<body>
	<% include header %>

	<style>
		.navbar {
			background: #2f2f2f;
		}
	</style>

	<div class="container">
		<div class="row">
			<div class="col-xs-1 col-sm-1"></div>
			<div class="col-xs-10 col-sm-10">
				<br>
				<h1>FAQ</h1>
				<h3>Why is there a message saying there's an error with my note?</h3>
				<p>This message appears when we are unable to extract any meaningful text content from your note. Try taking a picture of the note in better lighting, with the text running straight horizontally across the page. Also make sure when selecting the crop region not to accidentally crop off certain characters on the top or bottom line.</p>
			</div>
			<div class="col-xs-1 col-sm-1"></div>
		</div>
	</div>
</body>
</html>