<!doctype html>
<html>
<head>
	<title>TranScribe</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
</head>
<body>
	<% include header %>

	<style>
		.navbar {
			background: #2f2f2f;
		}
	</style>

	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1><b>TranScribe</b></h1>
					<h2>A web system for organizing print sources digitally</h2>
					<br>
	    		</div>
	    		
	    		<div class="col-lg-2">
	    		</div>
	    		<div class="col-lg-8">
	    			<div class="video-container">
		    			<iframe title="Youtube video player" width="680" height="390" src="http://www.youtube.com/embed/SHaoHHEoIRA" frameborder="0"></iframe>
		    		</div>
	    		</div>
	    		<div class="col-lg-2">
	    		</div>
	    	</div>
	    </div>
	</div>

	<div id="capture">
		<div class="container">
			<div class="row">
				<h1 class="centered">Capture</h1>
				<br>
				<h2 class="centered">Save a note with just a click of a button</h2>
				<div class="col-lg-12 centered">
					<img class=" img-responsive" src="img/capture.png" alt="phone capture">
				</div>
			</div>
		</div>
	</div>
	
	<div id="view">
		<div class="container">
			<div class="row">
				<h1 class="centered">Edit</h1>
				<br>
				<h2 class="centered">View, edit, search and share your notes online</h2>
				<br>
				<div class="col-lg-1"></div>
				<div class="col-lg-11 centered">
					<img class="img-responsive" src="img/siteshot.png" alt="site screenshot">
				</div>
			</div>
		</div>
	</div>	

	<div id="footerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 centered">
					 <a href="/signup" class="btn btn-default btn-large">Sign up</a>
					 <h5>Coming soon to Android</h5>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
