<!doctype html>
<html ng-app="transcriber" lang="en">
<head>
    <meta charset="utf-8">
    <title>TranScribe</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ng-tags-input.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/textAngular-sanitize.min.js"></script>
    <script src="js/textAngular.js"></script>
    <script src="js/ng-tags-input.js"></script>
    <script src="js/main.js"></script>
    <script>
        // ugly hack passing in user info
        window.newuser = {"id": "<%= user.id %>", "notes": <%- JSON.stringify(user.notes) %> };
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
            <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainCtrl">
<!--Start Header-->
<header class="navbar">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-2">
                <a href="/">TranScribe</a>
            </div>
            <div id="top-panel" class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-xs-8 col-sm-4">
                        <div id="search">
                            <input ng-model="searchText" type="text" placeholder="search"/>
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
    <div class="row">
        <div id="sidebar-left" class="col-xs-12 col-sm-3">
            <ul class="nav notes-list">
                <div class="notes-list-head">
                    <span ng-show="!searchText">All Notes</span>
                    <span ng-show="searchText">Search results</span>
                    <i class="fa fa-refresh" ng-click="refreshNotes()"></i>
                </div>
                <li ng-repeat="note in notes | filter:searchText" ng-click=displayNote(note) ng-class="{'note-selected': mainNote===note}">
                    <a href='#'>
                        <x-note-item note=note />
                    </a>
                </li>
                <div class="no-results" ng-show="(notes | filter:searchText).length == 0"><i>no results found</i></div>
            </ul>
        </div>

        <!--Start Content-->
        <div id="content" class="col-xs-12 col-sm-9">
            <!-- <x-note-display /> -->
            <div class="note-editor-container">
                <!-- Some text -->
                <div id="note_box" ng-show="editContent && !editView" ng-bind="editContent" ng-click="enableEdit()"></div>
                <div class="note-panel" text-angular ng-show="editView" ng-model="editContent"></div>
                <div class="bottom-bar">
                    <div class="tags col-xs-12 col-sm-10" ng-show="editContent">
                        <tags-input ng-model="mainNote.tags" max-length=15 on-tag-added="addTag()" on-tag-removed="removeTag()"></tags-input> 
                    </div>
                    <div class="save-bar col-xs-12 col-sm-2">
                        <a href="#" class="btn btn-success btn-large" ng-show="editView" ng-click="saveEdit()">Save</a>
                        <a href="#" class="btn btn-warning btn-large" ng-show="editView" ng-click="cancelEdit()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Content-->
    </div>
</div>
</body>
</html>

