<!doctype html>
<html>
<head>
	<title>TranScribe</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/authstyle.css" rel="stylesheet">
	<script src="js/angular.min.js"></script>
	<script src="js/form.js"></script>
</head>
<body ng-app="validationApp" ng-controller="mainController">
<% include header %>
<div class="container">

<div class="main-panel col-sm-4 col-sm-offset-4">

	<h1>Sign up</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<form name="signupForm" action="/signup" method="post">
		<div class="form-group" ng-class="{ 'has-error': signupForm.uname.$invalid && !signupForm.uname.$pristine }">
			<label>Username</label>
			<input type="text" class="form-control" name="uname" ng-model="user.uname" ng-minlength="3" ng-maxlength="64">
			<p ng-show="signupForm.uname.$error.minlength" class="help-block">Username must be at least 3 characters.</p>
			<p ng-show="signupForm.uname.$error.maxlength" class="help-block">Please use an username less than 64 characters.</p>
			<p ng-show="signupForm.uname.$error.required" class="help-block">Username is required.</p>
		</div>
		<div class="form-group" ng-class="{ 'has-error': signupForm.password.$invalid && !signupForm.password.$pristine }">
			<label>Password</label>
			<input type="password" class="form-control" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="64">
			<p ng-show="signupForm.password.$error.minlength" class="help-block">Password must be at least 5 characters.</p>
            <p ng-show="signupForm.password.$error.maxlength" class="help-block">Password can't be longer than 64 characters.</p>
            <p ng-show="signupForm.password.$error.required" class="help-block">Password is required.</p>
		</div>

		<button type="submit" class="btn btn-primary btn-lg" ng-disabled="signupForm.$invalid">Sign up</button>
	</form>
	<hr>
	<p>Already have an account? <a href="/login">Login</a></p>
</div>

</div>
</body>
</html>
